
/************** ALERTS **************/
.alerts-container .alert {
	margin-bottom: 0;
}

.alert h4 {
	font-weight: bold;
}

.alert.alert-primary {
	background: #000;
	color: #fff;
}

#main-navbar a .fa {
	margin-right: 5px;
}